PORT=3000
CORS_ORIGIN=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=5432
REDIS_PORT=6379

DATABASE_URL=
DIRECT_URL=
REDIS_URL=

JWT_SECRET=
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=7d

OWNER_EMAIL=
OWNER_PASSWORD=

XENDIT_SECRET_KEY=
XENDIT_CALLBACK_TOKEN=