# Setup
NODE_ENV=development
PORT=3000

# CORS Origin for FrontEnd
CORS_ORIGIN=http://localhost:5173

# Setting DB
POSTGRES_USER=heavylift
POSTGRES_PASSWORD=heavylift123
POSTGRES_DB=heavylift_db
POSTGRES_PORT=5432
REDIS_PORT=6379

# Connect DB From Prisma
DATABASE_URL="postgresql://heavylift:heavylift123@localhost:5432/heavylift_db?schema=public"
DIRECT_URL="postgresql://heavylift:heavylift123@localhost:5432/heavylift_db?schema=public"
REDIS_URL="redis://localhost:6379"

# JWT Secret Key
JWT_SECRET="your_jwt_secret_key"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_SECRET="ganti_dengan_secret_lain_yang_beda_dari_jwt_secret"
JWT_REFRESH_EXPIRES_IN="7d"

# Owner Seeder
OWNER_EMAIL="owner@gmail.com"
OWNER_PASSWORD="owner123password"

# Xendit
XENDIT_SECRET_KEY=
XENDIT_CALLBACK_TOKEN=